/.idea/
/*venv*/
**/__pycache__/
/data/*
!/data/feat_describe.csv
!/data/covariance.csv
!/data/correlation.csv
!/data/parameters.conf
!/data/fit_params.json
**/dask-worker-space/
/drafts/*
!/drafts/pyspark_pca.ipynb
modeling/dags
data_test.csv
fit.log
model.pkl
TODO.txt